body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  }

h1 {
  margin: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

p {
  text-align: center;
  border: #111 solid 2px;
  border-radius: 5px;
  padding: 15px;
  margin: 25px;  
  }

iframe {
  border: #111 solid 2px;
  border-radius: 5px;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
